.sofa-range-slider-wrapper {
    background: #fff;
    padding: .25rem;
}

.sofa-range-slider {
    position: relative;
    height: 2.5rem;
    margin: .25rem 0;
    clear:both;

    &:before {
        content: '';
        position: absolute;
        top: .75rem;
        width: 100%;
        height: 1rem;
        background: #eee;
    }
}

%sofa-range-slider__handle {
    position: absolute;
    top: .25rem;
    height: 2rem;
    width: 2rem;
    background: #ddd;
    z-index: 2;
    border-radius: 10%;
    border: 1px solid #aaa;
}

.sofa-range-slider__handle--start {
    @extend %sofa-range-slider__handle;

    left:0;
}

.sofa-range-slider__handle--end {
    @extend %sofa-range-slider__handle;

    right:0;
}

.sofa-range-slider__range {
    position: absolute;
    top: .75rem;
    height: 1rem;
    background: cornflowerblue;
}

%sofa-range-slider-label {
    line-height: 1.5rem;
}

.sofa-range-slider-label--start {
    @extend %sofa-range-slider-label;

    float: left;
}

.sofa-range-slider-label--end {
    @extend %sofa-range-slider-label;

    float: right;
}