
%sofa-basic-price {
    display:inline-block;
    padding: 0 5px;
}

.sofa-price {
    line-height: 1.5;
}

.sofa-price__price {
    @extend %sofa-basic-price;
}

.sofa-price__price--old {
    @extend %sofa-basic-price;

    text-decoration: line-through;
    font-size:smaller;
}
