<div class="sofa-date-field">
    <label for="{{fieldName}}_day" ng-bind="dateFieldCtrl.ln.day" class="sofa-hidden"></label>
    <input type="text" id="{{fieldName}}_day" ng-model="innerModel.day"
           class="sofa-date-field--day" placeholder="{{dateFieldCtrl.ln.placeholder.day}}"
           sofa-name="fieldName + '_day'"
           ng-required="isRequired" ng-pattern="/(^0[1-9]$)|(^[12][0-9]$)|(^3[01])/gm" maxlength="2"/>
    <label for="{{fieldName}}_month" ng-bind="dateFieldCtrl.ln.month" class="sofa-hidden"></label>
    <input type="text" id="{{fieldName}}_month" ng-model="innerModel.month"
           class="sofa-date-field--month" placeholder="{{dateFieldCtrl.ln.placeholder.month}}"
           sofa-name="fieldName + '_month'"
           ng-required="isRequired" ng-pattern="/(^0[1-9]$)|(^1[0-2]$)/gm" maxlength="2" />
    <label for="{{fieldName}}_year" ng-bind="dateFieldCtrl.ln.year" class="sofa-hidden"></label>
    <input type="text" id="{{fieldName}}_year" ng-model="innerModel.year"
           class="sofa-date-field--year" placeholder="{{dateFieldCtrl.ln.placeholder.year}}"
           sofa-name="fieldName + '_year'"
           ng-required="isRequired" maxlength="4" />
</div>
