$sofa-button--base__background: #eee !default;
$sofa-button--base__color: #333 !default;
$sofa-button--primary__background: blue !default;
$sofa-button--primary__color: #fff !default;
$sofa-button--secondary__background: #444 !default;
$sofa-button--secondary__color: #fff !default;

@function sofa-buttons__disabled-color ($color) {
    @return mix(white, desaturate($color, 33%), 50%);
}

@function sofa-buttons__active-color ($color) {
    @return darken($color, 20%);
}

%sofa-button--base {
    display: inline-block;
    margin: 0 auto;
    border: 0;
    padding: .625rem;
    text-align: center;
    border-radius: .25rem;
    line-height: 1.25rem;
    font-size: .875rem;
    max-width: 20rem;
    box-sizing: border-box;
    cursor: pointer;

    background: $sofa-button--base__background;
    color: $sofa-button--base__color;

    &:disabled {
        background: sofa-buttons__disabled-color($sofa-button--base__background);
        color: transparentize($sofa-button--base__color, .33);
        cursor: default;
        pointer-events: none;
    }

    &:focus {
        outline: none;
    }

    &:active {
        background: sofa-buttons__active-color($sofa-button--base__background);
    }
}

%sofa-button--primary {
    @extend %sofa-button--base;

    background: $sofa-button--primary__background;
    color: $sofa-button--primary__color;

    &:disabled {
        background: sofa-buttons__disabled-color($sofa-button--primary__background);
        color: transparentize($sofa-button--primary__color, .33);
    }

    &:active {
        background: sofa-buttons__active-color($sofa-button--primary__background);
    }
}

%sofa-button--secondary {
    @extend %sofa-button--base;

    background: $sofa-button--secondary__background;
    color: $sofa-button--secondary__color;

    &:disabled {
        background: sofa-buttons__disabled-color($sofa-button--secondary__background);
        color: transparentize($sofa-button--secondary__color, .33);
    }

    &:active {
        background: sofa-buttons__active-color($sofa-button--secondary__background);
    }
}

%sofa-button--large {
    padding: .875rem;
    font-size: 1rem;
    line-height: 1.5rem;
}

%sofa-button--small {
    padding: .5rem;
    font-size: .75rem;
    line-height: 1rem;
}

%sofa-button--disabled {
    opacity: .5;
    cursor: default;
    pointer-events: none;
}

%sofa-button--block {
    display: block;
    width: 100%;
}
