// Animations

//$slide-duration: 0.4s;
//$slide-easing: ease-out;
//
//.slide-in-rtl {
//    @include vendor-prefix('transition', all $slide-duration $slide-easing);
//    /* The animation preparation code */
//    position: absolute;
//    @include vendor-prefix('transform',translate3d(100%,0,0));
//}
//
//.slide-in-rtl.slide-in-rtl-active {
//    /* The animation code itself */
//    @include vendor-prefix('transform',translate3d(0%,0,0));
//}
//
//.slide-out-rtl {
//    @include vendor-prefix('transition', all $slide-duration $slide-easing);
//
//    /* The animation preparation code */
//    position: absolute;
//    @include vendor-prefix('transform',translate3d(0%,0,0));
//}
//
//.slide-out-rtl.slide-out-rtl-active {
//    /* The animation code itself */
//    @include vendor-prefix('transform',translate3d(-100%,0,0));
//}
//
//.slide-in-ltr {
//    @include vendor-prefix('transition', all $slide-duration $slide-easing);
//    /* The animation preparation code */
//    position: absolute;
//    @include vendor-prefix('transform',translate3d(-100%,0,0));
//}
//
//.slide-in-ltr.slide-in-ltr-active {
//    /* The animation code itself */
//    @include vendor-prefix('transform',translate3d(0%,0,0));
//}
//
//.slide-out-ltr {
//    @include vendor-prefix('transition', all $slide-duration $slide-easing);
//
//    /* The animation preparation code */
//    position: absolute;
//    @include vendor-prefix('transform',translate3d(0%,0,0));
//}
//
//.slide-out-ltr.slide-out-ltr-active {
//    /* The animation code itself */
//    @include vendor-prefix('transform',translate3d(100%,0,0));
//}
//
//.slide-in-ttb {
//    @include vendor-prefix('transition', all $slide-duration $slide-easing);
//    /* The animation preparation code */
//    position: absolute;
//    @include vendor-prefix('transform',translate3d(0,-100%,0));
//}
//
//.slide-in-ttb.slide-in-ttb-active {
//    /* The animation code itself */
//    @include vendor-prefix('transform',translate3d(0%,0,0));
//}
//
//.slide-out-ttb {
//    @include vendor-prefix('transition', all $slide-duration $slide-easing);
//
//    /* The animation preparation code */
//    position: absolute;
//    @include vendor-prefix('transform',translate3d(0%,0,0));
//}
//
//.slide-out-ttb.slide-out-ttb-active {
//    /* The animation code itself */
//    @include vendor-prefix('transform',translate3d(0, 100%,0));
//}
//
//.slide-in-btt {
//    @include vendor-prefix('transition', all $slide-duration $slide-easing);
//    /* The animation preparation code */
//    position: absolute;
//    @include vendor-prefix('transform',translate3d(0,100%,0));
//}
//
//.slide-in-btt.slide-in-btt-active {
//    /* The animation code itself */
//    @include vendor-prefix('transform',translate3d(0%,0,0));
//}
//
//.slide-out-btt {
//    @include vendor-prefix('transition', all $slide-duration $slide-easing);
//
//    /* The animation preparation code */
//    position: absolute;
//    @include vendor-prefix('transform',translate3d(0%,0,0));
//}
//
//.slide-out-btt.slide-out-btt-active {
//    /* The animation code itself */
//    @include vendor-prefix('transform',translate3d(0,-100%,0));
//}
//
//.fade-out {
//    @include vendor-prefix('transition', opacity 0.5s linear);
//    opacity: 1;
//}
//
//.fade-out.fade-out-active {
//    opacity: 0;
//}
//
//.fade-in {
//    @include vendor-prefix('transition', opacity 0.5s linear);
//    opacity: 0;
//}
//
//.fade-in.fade-in-active {
//    opacity: 1;
//}


// modal

.cc-modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000000;
    opacity: 0.5;
    z-index: 99;
}

.cc-modal--solid{
    @extend .cc-modal;
    opacity: 1;
}

// Tables

.cc-table-cell, %cc-table-cell{
    display: table-cell;
    vertical-align: middle;
}

.cc-table-cell--bottom-aligned, %cc-table-cell--bottom-aligned{
    @extend %cc-table-cell;
    vertical-align: bottom;
}

.cc-table-cell--top-aligned, %cc-table-cell--top-aligned{
    @extend %cc-table-cell;
    vertical-align: top;
}

.cc-table-row, %cc-table-row{
    display: table-row;
}

.cc-table, %cc-table{
    display: table;
    width: 100%;
    height: 100%;
}

// Titles

.cc-title--huge, %cc-title--huge{
    font-size: 24px;
    line-height: 24px;
}

.cc-title--big, %cc-title--big{
    font-size: 18px;
}

.cc-title--medium, %cc-title--medium{
    font-size: 15px;
}

.cc-title--regular, %cc-title--regular{
    font-size: 13px;
}

.cc-title--centered, %cc-title--centered{
    text-align: center;
}

.cc-title--huge--centered{
    @extend %cc-title--huge;
    @extend %cc-title--centered
}

.cc-title--big--centered{
    @extend %cc-title--big;
    @extend %cc-title--centered
}

.cc-title--medium--centered{
    @extend %cc-title--medium;
    @extend %cc-title--centered
}

.cc-title--regular--centered{
    @extend %cc-title--regular;
    @extend %cc-title--centered
}

// Key/Value

// TODO: build a component for key/value blocks
// some of these could be replaced by dl, dt and dd

%cc-properties-key-value-base {
    display: inline-block;
    vertical-align: top;
}

.cc-properties__key {
    @extend %cc-properties-key-value-base;
    font-weight: 700;
}

.cc-properties__value {
    @extend %cc-properties-key-value-base;
}

.cc-properties--block {
    .cc-properties__key {
        width:45%;
    }
    .cc-properties__value {
        width:55%;
        margin-left:-0.333333em; // remove the space character between key and value which comes from "inline-block"
    }
}

// Need to go to the theme

html,
body {
    font-family: "Helvetica Neue", HelveticaNeue, "Helvetica-Neue", Helvetica, "BBAlpha Sans", sans-serif;
    font-size:16px;
    word-wrap: break-word;
    -webkit-text-size-adjust: none;
    width:100%;
}

//some generic helper classes

.cc-unstyled{

    body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td{
        margin: 0;
        padding: 0;
    }

    h1, h2, h3, h4, h5, h6{ font-weight: normal; font-size: 100%; }

    address, caption, cite, code, dfn, em, strong, th, var {
        font-style: normal;
        font-weight: normal;
    }
}









