.sofa-category-tree-view__list--closed {
    display: none;
}

.sofa-category-tree-view__link {
    padding: 0 1rem;
    position: relative;
}

.sofa-category-tree-view__link--active {
    @extend .sofa-category-tree-view__link;
}

.sofa-category-tree-view__list-item {
    line-height: 2;
}

.sofa-category-tree-view__list--child {
    padding-left: 1rem;
}
