
.sofa-search-field {
    position: relative;
    display: inline-block;
}

.sofa-search-field__input {
    @extend %sofa-text-field !optional;

    width:100%;
    padding-left: 1.75rem;
    padding-right: 1.75rem;
}

%sofa-search-field-icons {
    position: absolute;
    font-size: 1rem;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    top: 50%;
    color: #ccc;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
}

.sofa-search-field__icon--label {
    @extend %sofa-search-field-icons;

    left: .25rem;
}
.sofa-search-field__icon--clear {
    @extend %sofa-search-field-icons;

    right: .25rem;
}
