
%sofa-form__item {
    margin-top: .875rem;
}

%sofa-form-label {
    display: block;
    margin: .25rem;
    font-size: 0.875rem;
}

%sofa-form--inline {

    %sofa-form-label {
        display: inline-block;
    }

}

%sofa-form-label--required {
    @extend %sofa-form-label;

    &:after {
        content: " *";
    }
}

%sofa-form-label--optional {
    @extend %sofa-form-label;
}

%sofa-text-field {
    display:inline-block;
    margin:0;
    vertical-align: top;
    font-size: inherit;
    outline: none;

    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    line-height: 1.25rem;
    width:100%;
    border: 2px solid #bbb;
    background: #fff;
    padding: .625rem .5rem;
    border-radius: .25rem;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: text;

    &:focus {
        background-color:#fff;
        border-color: cornflowerblue;
    }

    &:disabled {
        opacity: 0.3;
        cursor: default;
        pointer-events: none;
    }
}