.cc-scrollable-vertical {
    @extend %cc-scrollable-vertical;
}
%cc-container {
    @extend %flexbox;
}

.cc-body{
    @extend %cc-container;

    @include flex(1);

    overflow: hidden;
    min-width: 100%;
    min-height: 100%;
    position: relative;
}

.cc-docking-vertical {
    @extend %flexbox;

    @include flex(1);
    @include flex-direction(column);

    min-width: 100%;
    min-height: 100%;
}
