.sofa-touch-slider-mask {
    overflow: hidden;
}

.sofa-touch-slider {
    list-style: none;
    margin:0;
    padding:0;

    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */

    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;

    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;

    transition: -webkit-transform .3s;
    transition:         transform .3s;

    -webkit-transform: translateX(0);
    transform:         translateX(0);

    // some tweaks for less flickering. Never ever put this on the <li>'s...
    -webkit-backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
}
.sofa-touch-slider__item {
    box-sizing: border-box;
    padding: 5px;

    img {
        max-width: 100%;
    }
}

%sofa-touch-slider-indicator__item {
    display:inline-block;
    width: 1rem;
    height: 1rem;
    line-height: 1.25rem;
    border-radius: 100%;
    border:1px solid #aaa;
    margin: 0 .125rem;
    vertical-align: top;
}

.sofa-touch-slider-indicator {
    text-align: center;
    line-height: 1.25rem;
    padding: .625rem .25rem;
}
.sofa-touch-slider-indicator__item {
    @extend %sofa-touch-slider-indicator__item;
}
.sofa-touch-slider-indicator__item--active {
    @extend %sofa-touch-slider-indicator__item;

    background: #aaa;
}

// NO FLEXBOX FALLBACK

.sofa-touch-slider-no-flexbox {

    .sofa-touch-slider {
        &:after {
            content: ' ';
            display: block;
            clear:left;
        }
    }

    .sofa-touch-slider__item {
        float: left;
    }
}
