.sofa-loading-spinner {
    position: relative;
    width: 4rem;
    height: 4rem;

    &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        border-radius: 100%;
        border: 4px solid;
        border-color: #333 #333 #eee #eee;
        opacity: .5;

        animation: sofa-loading-spinner-rotate;
        animation-duration: .8s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
}

@keyframes sofa-loading-spinner-rotate {
    0% {
        transform: rotateZ(-360deg);
    }
    100% {
        transform: rotateZ(0deg);
    }
}
