<div class="sofa-select-box">
    <span class="sofa-select-box__value" ng-class="{'sofa-select-box__value--choose': !model && chooseText}" ng-bind="displayFn(model) || chooseText"></span>
    <i class="sofa-select-box__icon"></i>
    <select sofa-name="propertyName"
            ng-required="{{required}}"
            class="sofa-select-box__native"
            ng-model="model"
            ng-options="displayFn(val) for val in data">
        <option ng-if="chooseText" value="">-- {{chooseText}} --</option>
    </select>
</div>