.sofa-radio-button {
    position: relative;
}

.sofa-radio-button__label {
    position: relative;
    display:block;
    padding: .125rem 0 .125rem 2rem;
    line-height: 1.25rem;
    font-size: .875rem;

    &:before {
        content:"";
        position: absolute;
        top:0;
        left:0;
        width:1.5rem;
        height:1.5rem;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;

        border-radius: 100%;
        background: #f8f8f8;
        border:2px solid #bbb;
    }

    &:after {
        content:"";
        position: absolute;
        top:.375rem;
        left:.375rem;
        width:.75rem;
        height:.75rem;

        background:#555;
        border-radius: 100%;
        opacity: 0;
    }
}

.sofa-radio-button__input {
    position: absolute;
    overflow: hidden;
    padding: 0;
    border: 0;
    opacity: 0.001;
    vertical-align: top;
    outline: none;
    top:0;
    left:0;
}

.sofa-radio-button--disabled .sofa-radio-button__label {
    opacity: 0.5;
}
.sofa-radio-button__input:focus + .sofa-radio-button__label:before {
    background-color:#fff;
    border-color: lightblue;
    box-shadow:0 0 2px 1px lightblue;
}

.sofa-radio-button__input:checked + .sofa-radio-button__label:after {
    opacity: 1;
}

.sofa-radio-button + .sofa-radio-button {
    margin-top: .25rem;
}
