
.sofa-zippy__caption {
    position: relative;
}

.sofa-zippy-icon {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -7px;
}

.sofa-zippy__content {
    overflow: hidden;
    max-height: 9999px;
    transition: 0.3s;
}

.sofa-zippy--closed {
    .sofa-zippy__content {
        max-height: 0;
    }
}
