.sofa-image-zoom {
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background: #ccc;
    opacity: 0;
}
.sofa-image-zoom--active {
    z-index: 150;
    opacity: 1;

    -webkit-transition: opacity .3s;
            transition: opacity .3s;
}
.sofa-image-zoom__image {
    position: absolute;
}