.sofa-full-page-view {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    background: #fff;
    opacity: 0;
}

.sofa-full-page-view__close {
    position: absolute;
    top:0;
    right:0;
    line-height: 1;
    font-size: 1.5rem;
    min-height: 3rem;
    min-width: 3rem;
    z-index: 2;
}

.sofa-full-page-view__content {
    // position: relative && percentage value of top require a parent container
    // with pixel height set
    position: relative;
    top:50%;
    opacity: 0;
    z-index: 1;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
}

// Animation stuff

.sofa-full-page-view--active {
    z-index: 101;
    opacity: 1;

    .sofa-full-page-view__content {
        opacity: 1;

        -webkit-transition: opacity .4s ease .4s;
                transition: opacity .4s ease .4s;
    }
}

.sofa-full-page-view.sofa-full-page-view--active-add {
    z-index: 101;
    opacity: 0;

    -webkit-transition: opacity .4s;
            transition: opacity .4s;

    .sofa-full-page-view__content {
        opacity: 0;
    }
}

.sofa-full-page-view--active-add.sofa-full-page-view--active-add-active {
    opacity: 1;

    .sofa-full-page-view__content {
        opacity: 1;
    }
}

.sofa-full-page-view--active-remove {
    z-index: 101;
    opacity: 1;

    -webkit-transition: opacity .4s ease .4s, z-index 0s ease .8s;
            transition: opacity .4s ease .4s, z-index 0s ease .8s;
}

.sofa-full-page-view--active-remove-active {
    z-index: 1;
    opacity: 0;
}

.sofa-full-page-view--active-remove {
    .sofa-full-page-view__content {
        opacity: 0;

        -webkit-transition: opacity .4s ease 0;
                transition: opacity .4s ease 0;
    }
}
